@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.main {
    position: relative;
    width: 800px;
    height: 480px;
    background-color: black;
    overflow: hidden;
}

.nav {

}

.bottomControls {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    position: absolute;
    bottom: 0px;
    left: 20px;
    right: 20px;
    margin: 0 auto; 

    height: 50px; 
    
}

.leftInfo {
    float: left;
}

.centerInfo {
    text-align: center;
}

.rightInfo {
    float: right;
}

.bottomControls p {
    display: inline;
}

/* Overrides bootstrap css */
.btn{
    border-radius: 0 !important;
}